.card {
    display: flex;
    flex-direction: row;
    height: 680px;
    margin: 10px;
}

.space-left {
    flex: 1;
}

.image {
    width: 468px;
    height: 584px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.space-right {
    flex: 1;
}

.img {
    width: 468px;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;

}

.mainheader {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-wrap: break-word;
}

.subheader {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.profile-image {
    position: relative;
    cursor: pointer;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 15px;
}


.username {
    cursor: pointer;
    height: 20px;
    font-size: 15px;
    font-weight: 700;

}

.tweettext {

    font-size: 15px;
    inline-size: 402px;
    font-weight: 400;
    overflow-wrap: break-word;
}

.headertext {
    padding-bottom: 10px;
}