.tweetbox {
    height: 250px;
    border-bottom: 0.25px solid #2f3336;
    display: flex;
    flex-direction: column;
}

.tweethome {
    height: 60px;
    border-bottom: 0.25px solid #2f3336;

}

.tweetboxheader {
    height: 60px;
}


.tweethometext {
    padding: 10px;
    font-size: 22px;
}

.tweetboxmain {
    display: flex;
    flex-direction: row;

}

.tweetboxform {
    display: flex;
    flex-direction: column;
    width: 86%;
}

.tweetboximage {
    padding-left: 20px;
}

.tweetboxmain {
    padding-top: 20px;
}

.profile-image {
    margin-top: 20px;
}

#tweetinput {
    width: 100%;
    height: 150px;
    border-color: transparent;
    background-color: #111111;
    font-size: 15px;
    border-bottom: 0.25px solid #2f3336;

}

#tweetinput:focus {
    outline: none;
}

.tweetbutton {
    margin-top: 20px;
}

.button {
    background-color: #1d9bf0;
    height: 40px;
    float: right;
    width: 80px;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.button:hover {
    background-color: #1772ae;
    cursor: pointer;
}