@import url('https://fonts.googleapis.com/css?family=Abel');


body {
  margin: 0;
  background: #171717;
  font-weight: 400;
  height: 100%;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}