#root {
    background-color: #111111;
}

.singleusername {
    color: grey;
    font-size: 15px;
}

.tweetcommentcontent {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
}

.tweettime {
    padding-left: 20px;
    padding-top: 10px;
    height: 30px;
    font-size: 14px;
    color: grey;
    border-bottom: 0.25px solid #2f3336;

}

div.retweetsquotes {
    padding-left: 20px;
    padding-right: 20px;
}

.singletweet {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

}

.tweetleftspace {
    flex: 1;
}

.eachtweet {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.singletweetimage {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.hello {
    border-bottom: none;
}

.singletweetleft {
    flex: 1;
}

.singletweetfooter {
    height: 10px;
}

.singletweetcomments {
    flex: 1;
    width: 100%;
    border-left: 0.25px solid #2f3336;
    display: flex;
    flex-direction: column;
}

.singletweetimage {
    height: 90%;
    padding: 10px;
    padding-left: 0;
}

.singletweetheader {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 65px;
    display: flex;
    flex-direction: row;
}

.retweetsquotes {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    height: 30px;
    border-bottom: 0.25px solid #2f3336;

}

.retweetsquoteslight {
    color: gray;
    font-size: 14px;
}

.spacemiddle {
    padding-left: 30px;
}

.commenticons {
    height: 60px;
    display: flex;
    flex-direction: row;
    border-bottom: 0.25px solid #2f3336;
    column-gap: 3px;


}

.eachcommenticons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.commenticon {
    width: 20px;
}

.replytweets {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.tweetcontent {
    inline-size: 100%;
    overflow-wrap: break-word;
    height: auto;
}

.replytweetform {
    inline-size: 100%;
    overflow-wrap: break-word;
    height: auto;
    flex: 1;
}

.replytweetimage {
    padding: 20px 0 0 20px;
}

#tweetinput2 {
    width: 100%;
    height: 90%;
    border-color: transparent;
    background-color: #111111;
    font-size: 15px;
}

#tweetinput2:focus {
    outline: none;
}

.replytweetsmain {
    border-bottom: 0.25px solid #2f3336;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.replybutton {
    padding-right: 20px;
}

.userscomments {
    width: 100%;
    inline-size: 100%;
    overflow-wrap: break-word;
    border-left: 0.25px solid #2f3336;

}

.comment-section {
    overflow-y: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 948px) {
    .comments1 {
        display: none;
    }

    .singletweetimage {
        padding: 0;
    }

    .singletweetleft {
        display: none;
    }

    .singletweetcomments {
        display: none;
    }

}

@media screen and (max-width: 1400px) {


    .comments1 {
        display: none;
    }

    .singletweetimage {
        padding: 0;
    }

    .singletweetleft {
        display: none;
    }

    .singletweetcomments {
        display: none;
    }
}